@import url('https://fonts.googleapis.com/css?family=Lato');

/* ___RESET___ */

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* ___GENERAL___ */

html, body {
  -webkit-app-region: drag;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', serif;
  background: #ffffff;
  color: #495057;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* ___MAIN___ */

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.left,
.right {
  flex-basis: 50%;
  max-height: 100vh;
  overflow: auto;
}

.left {
  text-align: center;
  margin: auto;
  padding-top: 15vh;
  width: 50%;
}

.right {
  box-sizing: border-box;
  padding: 50px 0 70px 0;
}

.child {
  width: 100%;
  text-align: center;
}


/* ___CONTENT___ */

h1 {
  font-size: 48px;
}

#pausePlay {
  margin: 20px auto;
  width: 20%;
}

.links li {
  display: inline-block;
  color: #ced4da;
  transition: 300ms;
  padding: 20px;
}

.links a {
  text-decoration: none;
}

.links li:hover {
  color: #343a40;
}

.scriptCommand {
  margin-top: 20px;
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  transition: 300ms;
}

.scriptCommand2 {
  margin-top: 20px;
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  transition: 300ms;
}

.scriptCommand:hover {
  background-color: #f1f3f5;
}


/* ___TABLE___ */

table {
  width: 35vw;
}

td {
  transition: 300ms;
}

th:first-child, td:first-child { text-align: left; }
th:nth-child(2), td:nth-child(2) { text-align: right; }

td:nth-child(2) {
  padding: 5px;
  background-color: #f1f3f5;
  border-radius: 5px;
  transition: 300ms;
}

td:nth-child(3) {
  padding: 5px;
  color: #868e96;
}

th {
  font-weight: 700;
  color: #868e96;
  padding-bottom: 30px;
}

.separator {
  height: 40px;
}

.separator td {
  font-size: 14px;
  text-transform: lowercase;
  color: #ced4da;
}

.separator td:nth-child(2) {
  background-color: #fff;
}

.details {
  color: #868e96;
  font-size: 12px;
  padding-left: 5px;
}

/* ___FOOTER___ */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: #ffffff;
}

.footer {
  height: 55px;
}

.footer .footer-right li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}

.footer-right {
  float: right;
}

.footer li {
  padding: 15px 0px 0px 15px;
  color: #ced4da;
  transition: 300ms;
}

.footer li:hover {
  color: #343a40;
  transition: 300ms;
}

.footer-right li:last-child {
  padding-right: 25px;
}



/* Drag and drop */

#dropZone {
  background: #ced4da;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
  visibility: hidden;

  display: flex;

  font-size: 48px;
  margin: auto;
}

#dropZone h3 {
  margin: auto;
}

/* preferences */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    margin-top: 30px;
    max-width: 80%;
    font-size: 14px;
    /* 20px */
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: #ffffff;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-6 + label {
    color: #495057;
}

.inputfile-6 + label {
    border: 1px solid #495057;
    background-color: #ffffff;
    padding: 0;
}

.inputfile-6 + label:hover {
    border-color: #495057;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    color: #ffffff;
    background-color: #495057;
    display: inline-block;
}

.inputfile-6 + label:hover strong {
    background-color: #343a40;
}

.save {
  padding: 0.625rem 1.25rem;
  background-color: #495057;
  border: 1px solid #495057;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  position: relative;
  bottom: 14px;
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.saved {
  background-color: #40c057;
  border-color: #40c057;
}

#message {
  background-color: #40c057;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  color: #ffffff;
  width: 340px;
  opacity: 0;
  transition: opacity 1s;
  font-weight: bold;
  margin: 0 auto;
}

#back {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 20px;
  font-size: 18px;
}

#back:hover {
  background-color: #f1f3f5;
  border-radius: 100px;
}












/* space */
